


.container-fluid.gx-0 {
  padding-right: 0;
  padding-left: 0;
}


body {
  margin: 0;
  background-color: antiquewhite;
   
}
/* =========================== NavBar and Top header =========================== */
.header-top-container-div{
  /* background-color: var(--my-color); */
  height: 30px;
}
.header-bottom-container-div {
  background-color: var(--my-main-color);
    
}

/* Set the colors for the icon */
.myCustom-Shop-search-button{
  color: #ffffff; 
  border-color: #ffffff; 
}
.myCustom-Shop-search-button:hover {
  color: var(--my-Search-Logo-color);
  border-color: var(--my-Search-Logo-color);
  background-color: #2a772a85;
}

.custom-search-form {
  margin-left: 20px; /* Search Margin with Q&A */
}

.myCustom-Shop-icon {
  font-size: 2rem; /* Adjust image Size */
  border-radius: 10px; /* Make it circular */
  transition: background-color 0.3s; 
}

.myCustom-Shop-icon:hover {
  background-color: var(--my-color-transition);
}

.mynavbar-brand-custom{
  border: none;
  color: #000;
}

.nav-link{
  transition: background-color 0.3s;
  border-radius: 5px;
}
.nav-link:hover{
  background-color: var(--my-color-transition);
}


/* =========================== Catagory CSS =========================== */

.myCustom-Shop-Cat-1::after { /* To remove an Icon */
  display: none;  
}

/* Custom Category,Sort,Filter Buttons */
.mycutom-cata-button,
.myCutome-Sort-button,
.myCutome-filter-button {
  background-color:  var(--my-Catagory-button-color); /* Set the idle color here */
  border: none;
}

.mycutom-cata-button:hover,
.myCutome-Sort-button:hover,
.myCutome-filter-button:hover {
  background-color:  var(--my-Catagory-button-color-hover); /* Set the hover color here */
}

/* Filter section Body */

.myCustom-Shop-filter-button {
  background-color: var(--my-Color-Pallette-Dark_Olive_Green); 
  color: #ffffff;
  border: 1px solid #a1b36d; 
}


.myCustom-Shop-filter-button:hover {
  background-color: var(--my-Color-Pallette-Alloy_Orange); 
  color: #ffffff; 
}





/* ===================================================== Item Card ===================================================== */
.myCustom-Shop-rating-container{
  margin-left: 5px; 
}

.myCustom-Shop-rating-stars{
  color: #ffcc00; 
  border: none; 
  margin-right: 2px; 
}


.myCustom-Shop-item-float-button {
  position: absolute;
  display: none;
  top: 10px; 
  right: 10px;  
  color: #000;
  background-color: transparent; 
  border: none;
  z-index: 1000; /* To fix hover issues */
}

.myCustom-Shop-icon-item{
  font-size: 2rem; /* Adjust image Size */
  border-radius: 10px; 
  padding: 5px;
  transition: background-color 0.4s;
}

.myCustom-Shop-icon-item:hover{
  background-color: #e2bd9a;
}


/* Price Tag cutomize */
.myCustom-Shop-original-price {
  color: #000000; 
}

.myCustom-Shop-discounted-price {
  color: #FF0000;
}

.myCustom-Shop-item-offer{
  background-color: #c6672861;
  font-weight: bold;
  border-radius: 15%;
}

/* ======== Item Card Animation Area ======== */


.myCustom-Shop-itme-image{ 
  height: 200px; /* Change image size  */
  width: 200px;
  max-width: 100%;
  height: auto;
}

.myCustom-Shop-item-card {
  display: flex;
  flex-direction: column;
  height: 100px;
  
  
}
/* Hover triks */
.myCustom-Shop-item-card:hover .myCustom-Shop-image-container{
  background-color: #d3d3d3b2;
}
.myCustom-Shop-item-card:hover .myCustom-Shop-item-float-button{
  display: block;
}

.myCustom-Shop-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  background-color: #ffffff; /* Set initial background color */
  transition: background-color 0.4s ease; /* Add a smooth transition for the background color change */
}


/* Media query for screens with a maximum width of 600px */
@media (max-width: 576px) {
  .myCustom-Shop-image-container {
    height: 210px; /* Adjust the height for smaller screens */
  }
}
/* Media query for screens with a maximum width of 768px */


/* ----------------------------------------------
 * Generated by Animista on 2023-11-11 15:52:54
 * ---------------------------------------------- */

/*Card Hover in animation */
.myCustom-Shop-item-card:hover img {
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
/* Hover out animation */
.myCustom-Shop-item-card:not(:hover) img {
  animation: scale-down-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @keyframes scale-up-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
  
}
/* Keyframes for hover out animation */
@keyframes scale-down-center {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}


/* =========================== Root area =========================== */

:root {
  --my-Color-Pallette-Dark_Olive_Green:#627357;
  --my-Color-Pallette-Laurel_Green:#A9B489;
  --my-Color-Pallette-Cornsilk:#FCFCE4;
  --my-Color-Pallette-Lemon_Meringue:#F9ECC9;
  --my-Color-Pallette-Camel:#BA9470;
  --my-Color-Pallette-Alloy_Orange:#C66828;
  --my-Color-Pallette-Russet:#783E19;
  
  
  --my-color: #ffffff;
  --my-main-color: #5F6F52;
  --my-color2: #738167;
  --my-color3: #5fff7a;
  --my-color-transition: #ffffff;
  --my-Search-Logo-color: #00FF00;  /* Change Search-Logo-Border-color-hover */
  
  --my-Catagory-button-color: #5F6F52;  /* Change category-button-color */
  --my-Catagory-button-color-hover: #8fa080;  /* Change category-button-color-hover */

  /**/
} 





