
body {
  background-color: var(--my-Color-Pallette-Lemon_Meringue) /* Replace with your desired color code */
}

.myCustom-Admin-NavBar{
  background-color: var(--my-Color-Pallette-Dark_Olive_Green);
}



/* =========================== Root area =========================== */

:root {
  --my-Color-Pallette-Dark_Olive_Green:#627357;
  --my-Color-Pallette-Laurel_Green:#A9B489;
  --my-Color-Pallette-Cornsilk:#FCFCE4;
  --my-Color-Pallette-Lemon_Meringue:#F9ECC9;
  --my-Color-Pallette-Camel:#BA9470;
  --my-Color-Pallette-Alloy_Orange:#C66828;
  --my-Color-Pallette-Russet:#783E19;
  
} 





